@{
  ViewBag.Title = "Gestión de zoológicos";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<hr />
<p class="lead" style="text-align:justify">
  Se quiere diseñar un sistema de información que almacene los datos correspondientes a los zoológicos existentes en el mundo,
  así como las especies animales que éstos albergan. De cada zoológico se debe conocer el nombre, ciudad, país y continente donde se encuentra, clima y temperaturas por estaciones
  tamaño (en m2) y presupuesto anual. De cada especie animal se almacenan los datos de básicos y ultimos datos conicidos sobre su estado de peligro
  de extinción. Además, se debe guardar en archivo de texto la información sobre cada animal que los zoológicos poseen, como su número de identificación, especie, sexo,
  año de nacimiento, país de origen y continente.  Esto para que se pueda hacer un análisis de la información y el sistema muestre reportes estadísticos y alertas en caso de que una especie se
  encuentre en posible peligro.
</p>
<hr />
 <h3> Aquí algunos ejemplos de dos especies en posible peligro de extinción publicadas por un periódico de Catalunya</h3>
<div class="row">
  <div class="col-md-6">
    <h2>Acinonyx jubatus</h2>
    <p class="active" style="text-align:justify">
      Las chitas o Acinonyx jubatus son unos animales parecidos a los leopardos o pumas, que habitan principalmente en el sur de África, aunque también en zonas del este y el noroeste.
      Su población en el año 2015 era de 6.700 miembros, aunque debido a las dificultades para localizarlos en determinadas zonas, esta cifra podría llegar a los 10.000. Desde 1986 está
      catalogada como una especie 'vulnerable', y su población está en constante declive. En el norte de la India, Pakistán, Afganistán, las repúblicas caucásicas y varios países de África se
      considera una especie extinguida.
    </p>
    <img height="340" width="550" src="~/images/Chita.jpg" />
  </div>

  <div class="col-md-6">
    <h2>Psittacus erithacus </h2>
    <p class="active" style="text-align:justify">
      El loro gris africano o Psittacus erithacus es una ave de pelaje gris, pico negro y cola roja que se caracteriza por su habilidad a la hora de imitar el sonido de las palabras.
      Por ello es muy preciado como máscota y los números de ejemplares con los que se comercia internacionalmente no dejan de aumentar. Se calcula que solo entre 1982 y el 2014 se comerció
      con unos 1,3 millones de ejemplares salvajes.Paralelamente, las extensiones históricas de su hábitat natural han ido disminuyendo con los años, lo que ha provocado que en tres generaciones
      su población haya disminuido entre un 50 y un 79%. En el 2014, pasó en la lista roja de "vulnerable" a "en peligro de extinción".
    </p>
    <img height="340" width="550" src="~/images/LoroGris.jpg" />
  </div>
</div>
<p>
  <br />
  Información tomada de: Periódico "el Periódico, edición catalunya" el 09 de Marzo de 2018. https://www.elperiodico.com/es/extra/20170916/cinco-animales-desapareceran-2018-6280025
</p>
