@{
    ViewBag.Title = "Información";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Se quiere diseñar una aplicación software que almacene información relativa a los zoológicos existentes en el mundo, 
  así como las especies animales que éstos albergan. De cada zoológico se debe conocer el nombre, ciudad, país y continente donde se encuentra, 
  tamaño (en m2) y presupuesto anual. De cada especie animal se almacenan los datos de básicos y si se encuentra en peligro
  de extinción. Además, se debe guardar en archivo de texto la información sobre cada animal que los zoológicos poseen, como su número de identificación, especie, sexo, año de nacimiento, país de origen y continente.
  Esto para que se pueda hacer un análisis de la información y el sistema muestre reportes estadísticos y alertas en caso de que una especie se 
  encuentre en peligro.</p>
