@{
  ViewBag.Title = "Arquitectura de desarrollo de Software";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p class="lead" style="text-align:justify">
  Para la arquitectura se ha analizado que con los sericios de Windows Azure se podría tener un tratamiento de la información de manera eficiente y con menos costo.
  Todo esto orientado a una arquitectura por capas y con un estilo orientada a datos (Data Centric).
</p>

<p class="lead" style="text-align:justify">
  En cuanto al funcionamiento de bigdata, el enfoque a los componentes se gestiona de la siguiente manera:
</p>
<img src="~/images/bigData Architecture.PNG" />
<hr />


<p class="lead" style="text-align:justify">
  Para el funcionamiento general de internet y diferentes dispositivos se maneja por medio de trasmisión de procesos enfocados a los recursos y los datos
</p>
<img src="~/images/Internet Things.PNG" />
<hr />

<p class="lead" style="text-align:justify">
  Para el modelo final se tiene la siguiente estructura
</p>
<img src="~/images/Architecture.png" />
<hr />

@*<p class="lead" style="text-align:justify">
  Vista de arquitectura por Capas
</p>
<img src="~/images/Arquitectura.png" />
<hr />*@

<p>
  Tomado de Big data architectures, Microsoft el 09 de Marzo de 2018 de:  https://docs.microsoft.com/en-us/azure/architecture/data-guide/concepts/big-data
</p>