@{
  ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
  Nombre: Edier Jose Bernal Rozo <br />
  Carrera: Ingeniería de Sistemas<br />
  Bogotá DC<br />
  Calle 13 # 16 - 74<br />
  <abbr title="Teléfono">T:</abbr>
  +571 3443000
</address>

<address>
  <strong>Universidad:</strong>   <a href="mailto:atencionalciudadano@itc.edu.co">atencionalciudadano@itc.edu.co</a><br />
  <strong>Estudiante:</strong> <a href="mailto:ejbernalr@itc.edu.co">ejbernalr@itc.edu.co</a>
</address>