@{
  ViewBag.Title = "Zoo project";
}

<script src="~/Scripts/jsGeneral.js"></script>
<div class="row">
  <div class="col-sm">
    <img height="250" width="350" id="zooLogo" src="~/images/Logo zooProject.png" />
  </div>
  <hr />
  <p class="lead" style="text-align:justify">
    A nivel mundial es preocupante el incremento de especies en probable estado de extinción debido a diferentes problemáticas
    como por ejemplo la tala de árboles, la caza furtiva, y consumo exagerado de algunas de ellas para- obtención de carnes,
    pieles, etc. Se ve la necesidad de crear un sistema inteligente para tener una visión amplia de la problemática
    y que con la ayuda de la inteligencia artificial y análisis de datos de los zoológicos se pueda obtener datos predictivos
    sobre las especies para gestionar recursos, y afrontar de la mejor manera y anticipadamente la extinción de especies animales
    en el planeta y mejorar el ecosistema.
  </p>
  <hr />
  <button id="btnLinkDocuments" class="btn btn-success" onclick="openNewTabBrowser()">Ver documetación</button>


</div>


@*<div class="row">
  <div class="col-md-4">
      <h2>Getting started</h2>
      <p>
          ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
          enables a clean separation of concerns and gives you full control over markup
          for enjoyable, agile development.
      </p>
      <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
  </div>
  <div class="col-md-4">
      <h2>Get more libraries</h2>
      <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
      <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
  </div>
  <div class="col-md-4">
      <h2>Web Hosting</h2>
      <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
      <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
  </div>*@
</div>