@{
  ViewBag.Title = "Metodología de desarrollo de Software";
}
<script src="~/Scripts/jsGeneral.js"></script>
<div class="col-md-">
    <button id="btnLinkMet" class="btn-success btn-block" onclick="openNewTabBrowser_Metodologia()">Ver documento de conceptos frente a SCRUM</button>
</div>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<p class="lead" style="text-align:justify">
  En cuanto a la metodología de desarrollo a implementar para el proyecto, se pretenden fucionar dos muy conocidas que son Scrum y Kamban.<br />
  ¿Por qué fusionar estas dos metodologías? <br />
  Sencillamente porque al hacer uso de ambas se puede lograr un trabajo en equipo mucho mas satisfactiorio, ágil, y de buena calidad.
</p>

<h3>Scrum</h3>
<p class="lead" style="text-align:justify">
  En Scrum se realizan entregas parciales y regulares del producto final, priorizadas por el beneficio que aportan al receptor del proyecto. Por ello, Scrum está especialmente 
  indicado para proyectos en entornos complejos, donde se necesita obtener resultados pronto, donde los requisitos son cambiantes o poco definidos, donde la innovación, la competitividad, la flexibilidad y la productividad son fundamentales.
</p>
<img src="~/images/scrum.gif" />
<hr />

<h3>Kamban</h3>
<p class="lead" style="text-align:justify">
  Kanban, representada por una tarjeta Kanban, se moverá a través de las diversas etapas de su trabajo hasta su finalización. A menudo se habla de él como un método de extracción, 
  de forma que usted tira de sus tareas a través de su flujo de trabajo, ya que permite a los usuarios mover de sitio libremente las tareas en un entorno de trabajo basado en el equipo.
</p>
<img src="~/images/kanban.png" /><hr />
<h3>Funcionamiento</h3>
<p class="lead" style="text-align:justify">
  1. Se utilizarían las prácticas de Scrum como son: Dailys(Reuniones diarias), Planeación por sprints, reunion de cierre de sprint.<br />
  2. Con la metodología Kamban se pretende tener visibilidad durante todo el sprint de los avances del proyecto y los responsables de cada tarea.
</p>

<p>
  Tomado de Proyectos ágiles.org y KanbanTool.org  el 09 de Marzo de 2018 de: https://proyectosagiles.org/que-es-scrum/, https://kanbantool.com/es/metodologia-kanban
</p>