@{
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jsGeneral.js"></script>

<div>
  <h1>Triangulación</h1>
</div>

<div>
  <img src="~/images/Triangulo.PNG" />
</div>
<br />
<hr />
<div class="row">
  <div class="col-md-6">
    <h2>1). Autores</h2>
    <p class="active" style="text-align:justify">
      Mata de la Vega Fátima Lorena. <br />
      Mendoza Vázquez Helia Sujei.
    </p>
  </div>

  <div class="col-md-4">
    <h2>2). Fuentes</h2>
    <p class="active" style="text-align:justify">
      <ul>
        <li><a href="http://www.zooeasy.com/zooeasy/" target="_blank"> Zooeasy.com</a></li>
        <li>
          <a href="http://tesis.ipn.mx/bitstream/handle/123456789/13669/Proyecto%20Zoologico%20Protegido.pdf?sequence=1" target="_blank">
            Tesis,Sistema para administración de la información de los animales de un zoológico.
          </a>
        </li>
      </ul>
    </p>
  </div>

  <div class="col-md-4">
    <h2>3). Conceptos frente a metodología</h2>
    <button id="btnLinkMetodology" class="btn-success btn-block" onclick="openNewTabBrowser_Metodologia()">Ver documento</button>
  </div>
</div>