@{
    ViewBag.Title = "Triangulación";
}
<script src="~/Scripts/jsGeneral.js"></script>
<div class="modal-header">
    <img height="200" width="480" src="~/images/Triangulo.PNG" />
    <p>A continuación se describe cada punto con más detalle:</p>
</div>



<div class="row">
    <div class="col-md-4">
        <h2>1). Autores</h2>
        <p class="active" style="text-align:justify">
            <ul>
                <li>Mata de la Vega Fátima Lorena.</li>
                <li>Mendoza Vázquez Helia Sujei.</li>
                <li>Fernando Córdova-Canela</li>
                <li>Marco F. De Paolini</li>
                <li>Adriana I. Olivares-González</li>
            </ul>
        </p>
    </div>


    <div class="col-md-4">
        <h2>2). Fuentes</h2>
        <p class="active" style="text-align:justify">
            <ul>
                <li><a href="http://www.zooeasy.com/zooeasy/" target="_blank"> Zooeasy.com</a></li>
                <li><a href="http://dpicuto.edu.bo/tesis/facultad-nacional-de-ingenieria/carrera-de-ingenieria-de-sistemas-e-informatica/111-sistema-de-informacion-para-el-control-profilactico-a-los-animales-del-zoologico.html" target="_blank">Sistema de información para el control profiláctico a los animales del Zoológico</a></li>
                <li><a href="http://rosmiman.es/" target="_blank"> rosmiman.es</a></li>
                <li><a href="https://dialnet.unirioja.es/descarga/articulo/5001908.pdf" target="_blank">Aplicación del sistema Zoológico de Guadalajara</a></li>
            </ul>
        </p>
    </div>

    <div class="col-md-4">
        <h2>3). Conceptos frente a metodología</h2>
        <button id="btnLinkMet" class="btn-success btn-block" onclick="openNewTabBrowser_Metodologia()">Ver documento</button>
    </div>
</div>