@{
  ViewBag.Title = "UML - Diagramas de Caso de Uso";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h2>1. Diagrama de Requerimientos</h2>
<p class="lead" style="text-align:justify">
  En este diagrama se representan los requerimientos funcionales analizados sobre la gestión de información de zoológicos.
</p>

<h3>Requerimientos funcionales</h3>
<img src="~/images/Requeriments Diagram.png" />

<hr />
<h2>2. Diagrama de casos de uso</h2>
<p class="lead" style="text-align:justify">
  Se presentan dos diagramas que corresponden a la interacción del sistema de información. Los usuarios básicos correspondarán a 4 roles específicos
  que son: Administrador, Personal administrativo o de gestión, Personal operativo y por último personal consultor.
</p>
<h3>2.1 Caso de uso General</h3>
<img src="~/images/CU_Zoológico_General.png" />
<br />
<hr />
<h3>2.2 Caso de uso por roles de usuario</h3>
<img src="~/images/Diagrama de CU - Por Usuario.png" />


<hr />
<h2>3. Diagrama de Clases</h2>
<p class="lead" style="text-align:justify">
  El diagrama de clases corresponde a la estructura básica del sistema de información.
</p>
<img src="~/images/Clases.png" />

<hr />
<h2>4. Diagrama de Componentes</h2>
<p class="lead" style="text-align:justify">
  En este diagrama se pueden observar todos los componentes analizados para el sistema de información y su correspondientes dependencias entre ellos
</p>
<img src="~/images/Componentes.png" />

<hr />
<h2>5. Diagrama de Paquetes</h2>
<p class="lead" style="text-align:justify">
  En este diagrama se visualizan los paquetes correspondientes al desarrollo del sistema de información
</p>
<img src="~/images/Paquetes.png" />